<section  class="portfolio py-5" id="portfolio">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="fw-bold mb-5">My Works</h2>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="portfolio-item">
                    <p>Ecommerce project with html , css and JavaScript fetch data from ajax API , with my team </p>
                    <h3 class="text-capitalize fs-5 my-3">Ecommerce Team Work</h3>
                    <p class="mb-4 "><a class="text-decoration-none " href="https://github.com/Mano4life/FasheEcommerce">GitHub link </a></p>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="portfolio-item">
                    <p>Template charity landing page with Html , css and a little of JavaScript vanilla code </p>
                    <h3 class="text-capitalize fs-5 my-3">MY Own Work</h3>
                    <p class="mb-4 "><a class="text-decoration-none " href="https://github.com/fathyahmed74/Template-02-Project-main">GitHub link </a></p>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="portfolio-item">
                    <p>Hepta Template  with html , css alnding page  </p>
                    <h3 class="text-capitalize fs-5 my-3">Ecommerce Team Work</h3>
                    <p class="mb-4 "><a class="text-decoration-none " href="https://github.com/fathyahmed74/Hepta-Temp1">GitHub link </a></p>
                </div>
            </div>
        </div>
         </div>

</section>