<section class="home py-5" id="home">
    <div class="container-lg">
        <div class="row align-items-center min-vh-100">
            <div class="col-md-6 order-md-2 text-center">
                <img class="rounded-circle img-fluid" style="width: 50%;" [src]="homeImgPath" alt="my photo">
            </div>
            <div class="col-md-6 order-md-1">
                <div class="home-text">
                    <p class="text-light mb-1">Hello, I'm</p>
                    <h1 class="text-secondary">Back-End Developer</h1>
                    <h2 class="text-secondary">Ahmed Fathy</h2>
                    <p class="text-light">
                        Hello, I am a passionate backend developer specializing in Laravel with a solid understanding of HTML, CSS, and JavaScript. As a fresh developer, I am eager to leverage my skills to deliver high-quality web applications and contribute to your project's success.
                    </p>
                    <a class="btn btn-secondary px-3 mt-3" href="https://drive.google.com/file/d/1PlOddht0XdeRp1Ju_89do8v7dmh2Rv7u/view?usp=sharing">My CV</a>
                </div>
            </div>
        </div>
    </div>
</section>
