<section class="about bg-black py-5" id="about">
    <div class="container-lg py-4">
        <div class="row justify-content-center" >
            <div class="col-lg-8 " >
                <div class="section-title text-center ">
                    <h2 class="fw-bold mb-5"> About Me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="about-text">
                    <p>I studied at FCI_ZU , I started my journey at oct /2018 , i graduated at aug /2022 , after that i went to egy army and serve 1 year as a soldier </p>
                </div>

            </div>
            <div class="col-md-5">
                <p>i had a year of exp. in mobile development using flutter and dart , Now i shifted to web development and interest in back-end with laravel framework</p>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-12  align-items-center justify-content-md-center" >
                <a  class="btn btn-secondary px-3 mt-3" href="https://drive.google.com/file/d/1PlOddht0XdeRp1Ju_89do8v7dmh2Rv7u/view?usp=sharing">Download Cv

                </a>
                <div class="social-links  ">
                    <a class="text-decoration-none btn btn-secondary me-2 my-2" href="https://github.com/fathyahmed74"> <i class="fa-brands fa-facebook me-2"></i> GitHub</a>
                    <a class="text-decoration-none btn btn-secondary me-2" href="https://www.linkedin.com/in/ahmedfathyy/"> <i class="fab fa-linkedin me-2 "> </i> linkedin</a>
                    <a class="text-decoration-none btn btn-secondary me-2" href="https://www.upwork.com/freelancers/~01f06400feaaad423e"> <i class="fab fa-upwork me-2"> </i>upwork </a>
                    <a class="text-decoration-none btn btn-secondary me-2" href="https://www.instagram.com/hefnyy74/"> <i class="fab fa-instgram me-2"> </i>Instgram </a>
                </div>
            </div>
        </div>
    </div>
</section>