<footer class="bg-dark text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Footer Content</h5>
                <p>
                    You Can Contact me any time you like , I'm available all time for support and help as much i can
                </p>
                <div class="social-icons">
                    <a class="text-decoration-none btn btn-secondary me-2 my-2" href="https://github.com/fathyahmed74"> <i class="fa-brands fa-facebook me-2"></i> GitHub</a>
                    <a class="text-decoration-none btn btn-secondary me-2 my-2" href="https://www.linkedin.com/in/ahmedfathyy/"> <i class="fab fa-linkedin me-2 "> </i> linkedin</a>
                    <a class="text-decoration-none btn btn-secondary me-2 my-2" href="https://www.upwork.com/freelancers/~01f06400feaaad423e"> <i class="fab fa-upwork me-2"> </i>upwork </a>
                    <a class="text-decoration-none btn btn-secondary me-2 my-2" href="https://www.instagram.com/hefnyy74/"> <i class="fab fa-instgram me-2"> </i>Instgram </a>

                                    </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                
            </div>

          

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Contact</h5>
                <p class="mb-1">Email: ahmedgmail.com</p>
                <p>Phone: 01069943141</p>
            </div>
        </div>
    </div>

    <div class="bg-dark text-center py-3">
        <p class="mb-0">&copy; 2024 My Own Portfolio. All rights reserved.</p>
    </div>
</footer>